---
BasedOnStyle: Mozilla
IndentWidth: 2
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 100
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 200
BinPackArguments: true
BinPackParameters: true
ExperimentalAutoDetectBinPacking: true
AllowShortCaseLabelsOnASingleLine: true
