[submodule "libjson"]
	path = external/libjson
	url = https://github.com/sebbekarlsson/libjson.git
[submodule "hashmap"]
	path = external/hashmap
	url = https://github.com/sebbekarlsson/hashmap.git
[submodule "external/scss"]
	path = external/scss
	url = https://github.com/sebbekarlsson/scss.git
[submodule "tests/fjb-samples"]
	path = tests/fjb-samples
	url = https://github.com/sebbekarlsson/fjb-samples.git
[submodule "external/liblist"]
	path = external/liblist
	url = https://github.com/sebbekarlsson/liblist.git
