#main {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
}

#main img {
  max-width: 100%;
  object-fit: cover;
}

#main details {
  position: relative;
  margin-bottom: 1rem;
}

#main details > article {
  margin-left: 1rem;
  border-left-color: lightgray;
  border-left-style: solid;
  border-left-width: 1px;
  box-sizing: boder-box;
  padding-left: 1rem;
  padding-top: 1rem;
}
